@media screen {
    html, body{
        height: 100%;
        font-family: sans-serif !important;
    }

    .btn_principal,
    button.btn_principal,
    a.btn_principal,
    a.add{
        display: inline-block;
        padding: 10px 32px;
        margin: 15px 0;
        background-color: #fff;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid #000;
        -webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
    }

    .btn_principal:hover,
    .btn_principal:focus,
    button.btn_principal:hover,
    button.btn_principal:focus,
    a.btn_principal:hover,
    a.btn_principal:focus,
    a.add:hover,
    a.add:focus{
        color: #fff;
        background-color: #000;
    }

    #main_list{
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
        grid-template-rows: minmax(100px, auto);
        gap: 1em;
    }
    .item_list{
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
        cursor: unset;
        pointer-events: none;
    }
    .item_list a{
        cursor: pointer;
        pointer-events:initial;
    }

    #mainSearch,
    #loguinBtn,
    #loginForm,
    #subSearch{
        display: flex;
        flex-direction: row;
        gap: 1em;
        flex: auto;
        align-items: center;
    }



}