@media screen {
    html, body{
        height: 100%;
        font-family: sans-serif !important;
    }
    a.btn_principal,
    a.add{
        display: inline-block;
        padding: 10px 32px;
        margin: 15px 0;
        background-color: #fff;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid #000;
        -webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
    }
    a.btn_principal:hover,
    a.btn_principal:focus,
    a.add:hover,
    a.add:focus{
        color: #fff;
        background-color: #000;
    }

    #main_list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    .item_list{
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: ;
    }


}